.navbar {
   display : flex ;
   align-items: center ;
   justify-content: space-between ;
   padding : 25px 5% 10px 5% ;
   color : #add ;
   border-bottom : 2px solid #3c3c3c ;
}
.navbar .logo {
   width : max ( 12vw, 120px) ;
   padding-bottom : 10px ;
   transition : 0.3s ease-in-out ;
}
.navbar .logo:hover {
   /* transform: translateY(-3px) ; */
   transform: scale(1.03) ;
}
.navbar ul {
   display : flex ;
   gap : 40px ;
   list-style : none ;
}
.navbar li {
   cursor : pointer ;
}
.nav-right {
   display : flex ;
   align-items : center ;
   gap : max( 1vw, 12px ) ;
   padding-bottom : 8px ;
}
.navbar select {
   padding : 5px 8px ;
   border-radius : 6px ;
   border : 2px solid white ;
   background: transparent ;
   color : white ;
   transition: 0.3s ease-in-out;
}
.navbar select:hover {
   /* border: 2px solid rgba(0, 55, 255, 0.591) ; */
   cursor : pointer ;
   transform : scale(1.05) ;
}
.navbar select option {
   background-color : #09005c;
   color : white ;
}
.navbar button {
   display : flex ;
   margin-left : 5px ;
   align-items : center ;
   padding : 10px 25px ;
   border-radius : 20px ;
   gap : 5px ;
   font-size : 15px ;
   font-weight : 500 ;
   color : #393939 ;
   background: white;
   border : none ;
   cursor : pointer ;
   transition: 0.3s ease-in-out;
}
.navbar button:hover {
   transform: scale(1.05) ;
   /* box-shadow: 0px 0px 5px 5px rgba(0, 55, 255, 0.591) ; */
}
.navbar button img {
   width : 13px ;  
   padding-bottom : 3px; 
} 

#navBar:hover {
   color : white ;
   /* padding: 10px 20px ;
   border-radius : 10px ;
   background-color: var(--col6) ;
   box-shadow: 0px 0px 5px 5px rgba(0, 55, 255, 0.5) ; */
}  
@media (max-width:900px) {
   .navbar {
      padding : 20px 8% ;
   }
   .navbar button {
      gap : 8px 8px ;
      font-size : 14px ;
   }
}
@media (max-width:768px) {
   .navbar {
      padding : 20px 5% ;
   }
   .navbar ul {
      display : none ; 
   }
   .navbar button img {
      width : 12px ;
   }
}